---
title: Index_Page
---

extends layouts/_layout
block content
	- var currPage = 'Home'
	.root-wrapper
		.overlay
		.root-frame

			include partials/_burger
			#barba-wrapper
				.barba-container.home-page.full-screen-container#work-wrapper(data-namespace="home" data-bgcolor="#fc342a" data-textcolor="#fc342a" data-titlecolor="#a8d96b" data-loader="#cdfc91")
					header.header
						include partials/_header
					// overlay
					.work-wrapper__overlay.overlay__color#overlay
					// end overlay
					.wrapper-frame
						.work-wrapper__navigation
							ul.navigation__container
								- var navItems = ["Staylime", "Magento", "development", "design"]
									each navItem, count in navItems
										li.navigation__item
											a(href="#" class="no-barba touch-down" data-index-screen=count)
												.touch-down-elem
													span #{navItem}
													.mask-nav
														span #{navItem}
						.work-wrapper__container#full-page
							section.screen.screen__category(data-bgcolor="#fc342a" data-textcolor="#fc342a" data-dark="false")
								.content__side
									canvas#scene.hidden
									.icon-scroll
							section.screen.screen__category(data-dark="false")
								.content__side
									.swiper-container
										.swiper-wrapper
											.swiper-slide(data-bgcolor-item="#0e6bb6" data-textcolor="#0e6bb6")
												a(href="portfolio-project.html").image-container
													//- .image-inner
													img(src="img/projects/project-1.jpg", alt="project-1")
											.swiper-slide(data-bgcolor-item="#620804" data-textcolor="#620804")
												a(href="portfolio-project-1.html").image-container
													//- .image-inner
													img(src="img/projects/project-2.jpg", alt="project-2")
									.swiper-button-prev.crsor-trgr(data-cursor-type="arrl")
										.swiper-button_text
											span Prev
											.icon
												<svg width="32" height="22" viewBox="0 0 32 22" xmlns="http://www.w3.org/2000/svg"><path stroke="null" fill-rule="evenodd" d="m30.96046,10.11951l-27.62951,0l8.26562,-8.23385c0.38821,-0.38821 0.38821,-1.0167 0,-1.40391c-0.38821,-0.38821 -1.0167,-0.38821 -1.40391,0l-9.82938,9.82839c-0.38225,0.38225 -0.38225,1.02166 0,1.40391l9.82938,9.82938c0.38821,0.38821 1.0167,0.38821 1.40391,0c0.38821,-0.38821 0.38821,-1.0167 0,-1.40391l-8.26562,-8.03428l27.62951,0c0.54806,0 0.99287,-0.4448 0.99287,-0.99287c0,-0.54806 -0.4448,-0.99287 -0.99287,-0.99287z" clip-rule="evenodd"/></svg>
									.swiper-button-next.crsor-trgr(data-cursor-type="arrr")
										.swiper-button_text
											span next
											.icon
												<svg width="32" height="22.2" viewBox="0 0 32 22.2" xmlns="http://www.w3.org/2000/svg"><path stroke="null" fill-rule="evenodd" d="m32,11.14789c0,-0.267 -0.11,-0.522 -0.293,-0.714l-9.899,-9.999c-0.391,-0.395 -1.024,-0.394 -1.414,0c-0.391,0.394 -0.391,1.034 0,1.428l8.193,8.275l-27.587,0c-0.552,0 -1,0.452 -1,1.01s0.448,1.01 1,1.01l27.586,0l-8.192,8.275c-0.391,0.394 -0.39,1.034 0,1.428c0.391,0.394 1.024,0.394 1.414,0l9.899,-9.999c0.187,-0.189 0.29,-0.449 0.293,-0.714z" clip-rule="evenodd"/></svg>
							section.screen.screen__category(data-dark="false")
								//- .section__overlay
								//- .section__content
								.content__side
									//- .container-carousel
									.swiper-container
										.swiper-wrapper.crsor-trgr(data-cursor-type="plus")
											.swiper-slide(data-bgcolor-item="#000000" data-textcolor="#000000")
												a(href="portfolio-project.html" data-scale="true").image-container
													//- .image-inner
													img(src="img/grafics/grafics-1.jpg", alt="grafics-1")
											.swiper-slide(data-bgcolor-item="#ddc7af" data-textcolor="#ddc7af")
												a(href="portfolio-project.html" data-scale="true").image-container
													//- .image-inner
													img(src="img/grafics/grafics-2.jpg", alt="grafics-2")
											.swiper-slide(data-bgcolor-item="#e7e7e7" data-textcolor="#e7e7e7")
												a(href="portfolio-project.html" data-scale="true").image-container
													//- .image-inner
													img(src="img/grafics/grafics-3.jpg", alt="grafics-3")
									.swiper-button-prev.crsor-trgr(data-cursor-type="arrl")
										.swiper-button_text
											span Prev
											.icon
												<svg width="32" height="22" viewBox="0 0 32 22" xmlns="http://www.w3.org/2000/svg"><path stroke="null" fill-rule="evenodd" d="m30.96046,10.11951l-27.62951,0l8.26562,-8.23385c0.38821,-0.38821 0.38821,-1.0167 0,-1.40391c-0.38821,-0.38821 -1.0167,-0.38821 -1.40391,0l-9.82938,9.82839c-0.38225,0.38225 -0.38225,1.02166 0,1.40391l9.82938,9.82938c0.38821,0.38821 1.0167,0.38821 1.40391,0c0.38821,-0.38821 0.38821,-1.0167 0,-1.40391l-8.26562,-8.03428l27.62951,0c0.54806,0 0.99287,-0.4448 0.99287,-0.99287c0,-0.54806 -0.4448,-0.99287 -0.99287,-0.99287z" clip-rule="evenodd"/></svg>
									.swiper-button-next.crsor-trgr(data-cursor-type="arrr")
										.swiper-button_text
											span next
											.icon
												<svg width="32" height="22.2" viewBox="0 0 32 22.2" xmlns="http://www.w3.org/2000/svg"><path stroke="null" fill-rule="evenodd" d="m32,11.14789c0,-0.267 -0.11,-0.522 -0.293,-0.714l-9.899,-9.999c-0.391,-0.395 -1.024,-0.394 -1.414,0c-0.391,0.394 -0.391,1.034 0,1.428l8.193,8.275l-27.587,0c-0.552,0 -1,0.452 -1,1.01s0.448,1.01 1,1.01l27.586,0l-8.192,8.275c-0.391,0.394 -0.39,1.034 0,1.428c0.391,0.394 1.024,0.394 1.414,0l9.899,-9.999c0.187,-0.189 0.29,-0.449 0.293,-0.714z" clip-rule="evenodd"/></svg>
							section.screen.screen__category(data-dark="false")
								//- .section__overlay
								//- .section__content
								.content__side
									//- .container-carousel
									.swiper-container
										.swiper-wrapper.crsor-trgr(data-cursor-type="plus")
											.swiper-slide(data-bgcolor-item="#007431" data-textcolor="#007431")
												a(href="portfolio-project.html" data-scale="true").image-container
													//- .image-inner
													img(src="img/grafics/grafics-2.jpg", alt="grafics-1")
											.swiper-slide(data-bgcolor-item="#bb9b64" data-textcolor="#bb9b64")
												a(href="portfolio-project.html" data-scale="true").image-container
													//- .image-inner
													img(src="img/grafics/grafics-1.jpg", alt="grafics-2")
											.swiper-slide(data-bgcolor-item="#875494" data-textcolor="#875494")
												a(href="portfolio-project.html" data-scale="true").image-container
													//- .image-inner
													img(src="img/grafics/grafics-3.jpg", alt="grafics-3")
									.swiper-button-prev.crsor-trgr(data-cursor-type="arrl")
										.swiper-button_text
											span Prev
											.icon
												<svg width="32" height="22" viewBox="0 0 32 22" xmlns="http://www.w3.org/2000/svg"><path stroke="null" fill-rule="evenodd" d="m30.96046,10.11951l-27.62951,0l8.26562,-8.23385c0.38821,-0.38821 0.38821,-1.0167 0,-1.40391c-0.38821,-0.38821 -1.0167,-0.38821 -1.40391,0l-9.82938,9.82839c-0.38225,0.38225 -0.38225,1.02166 0,1.40391l9.82938,9.82938c0.38821,0.38821 1.0167,0.38821 1.40391,0c0.38821,-0.38821 0.38821,-1.0167 0,-1.40391l-8.26562,-8.03428l27.62951,0c0.54806,0 0.99287,-0.4448 0.99287,-0.99287c0,-0.54806 -0.4448,-0.99287 -0.99287,-0.99287z" clip-rule="evenodd"/></svg>
									.swiper-button-next.crsor-trgr(data-cursor-type="arrr")
										.swiper-button_text
											span next
											.icon
												<svg width="32" height="22.2" viewBox="0 0 32 22.2" xmlns="http://www.w3.org/2000/svg"><path stroke="null" fill-rule="evenodd" d="m32,11.14789c0,-0.267 -0.11,-0.522 -0.293,-0.714l-9.899,-9.999c-0.391,-0.395 -1.024,-0.394 -1.414,0c-0.391,0.394 -0.391,1.034 0,1.428l8.193,8.275l-27.587,0c-0.552,0 -1,0.452 -1,1.01s0.448,1.01 1,1.01l27.586,0l-8.192,8.275c-0.391,0.394 -0.39,1.034 0,1.428c0.391,0.394 1.024,0.394 1.414,0l9.899,-9.999c0.187,-0.189 0.29,-0.449 0.293,-0.714z" clip-rule="evenodd"/></svg>
						.work-wrapper__sidecontainer#side-page
							//page 1
							.content__side
								.content__side-inner
									.content__side-name
										.side-upp__container.reval.order__1
											span.reval__span Hello, we are Staylime
										.side-name__container.reval.order__2
											.container-title.reval__span Full Service Ecommerce Digital Agency
										.side-body__container.reval.order__3
											.reval__span
												ul.category__list
													- var sectionSite = [["portfolio.html", "Portfolio"], ["portfolio.html","Agency"], ["portfolio.html", "Industries"], ["contacts.html", "Contact us"], ["services.html","Services"]]
													each sectionSiteItem in sectionSite
														li.category__list-item
															a(href=sectionSiteItem[0]).link-color.touch-down
																.hover-line
																span.touch-down-elem #{sectionSiteItem[1]}
								.content__side-news.reval.order__4
									.news-body.reval__span
										.news-app
											span News
										.news-item
											a(href="#") We’ve just lunched a website for a huge austrian telecom provider in belarus — Velcom data centre
							//page 2
							.content__side
								.content__side-inner
									.content__side-name.reval-container
										.side-upp__container.reval.order__1
											span.reval__span Magento Services
										.side-name__container.reval.order__2
											.container-title.reval__span A full spectrum of services for Magento
										.side-body__container.reval.order__3
											.reval__span
												ul.category__list
													- var sectionSite = ["Magento Migration", "Customization", "Megento Upgrade", "Services", "Magento Support"]
													each sectionSiteItem in sectionSite
														li.category__list-item
															a(href="#").link-color.touch-down
																.hover-line
																span.touch-down-elem #{sectionSiteItem}
								.side-body__projects.reval.order__4
									.name-projects_container.swiper-projects.reval__span
										.slider-container
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = [['portfolio.html#website', 'Website'], ['portfolio.html#ecommerce',"E-commerce"]]
														ul
															each tag in tags
																li.tag-item
																	a(href=tag[0])
																		span #{tag[1]}
													a(href="#").link-color 
														span IT Integrator Atlant Consult IT Integrator Atlant Consult IT Integrator Atlant Consult
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = [['portfolio.html#website', 'Website'], ['portfolio.html#ecommerce',"E-commerce"]]
														ul
															each tag in tags
																li.tag-item
																	a(href=tag[0])
																		span #{tag[1]}
													a(href="#").link-color 
														span IT Integrator Solcata
							//page 3
							.content__side
								.content__side-inner
									.content__side-name.reval-container
										.side-upp__container.reval.order__1
											span.reval__span Development Services
										.side-name__container.reval.order__2
											.container-title.reval__span A full spectrum of services for Development
										.side-body__container.reval.order__3
											.reval__span
												ul.category__list
													- var sectionSite = ["Magento Migration", "Customization", "Megento Upgrade", "Services", "Magento Support"]
													each sectionSiteItem in sectionSite
														li.category__list-item
															a(href="#").link-color.touch-down
																.hover-line
																span.touch-down-elem #{sectionSiteItem}
								.side-body__projects.reval.order__4
									.name-projects_container.swiper-projects.reval__span
										.slider-container
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = ["Magento", "Website", "E-commerce"]
														ul
															each tag in tags
																li.tag-item
																	a(href="#")
																		span #{tag}
													a(href="#").link-color 
														span IT Integrator Solcata
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = ["Magento", "Website", "E-commerce"]
														ul
															each tag in tags
																li.tag-item
																	a(href="#")
																		span #{tag}
													a(href="#").link-color 
														span IT Integrator Solcata
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = ["Magento", "Website", "E-commerce"]
														ul
															each tag in tags
																li.tag-item
																	a(href="#")
																		span #{tag}
													a(href="#")
														span IT Integrator Solcata
							//page 4
							.content__side
								.content__side-inner
									.content__side-name.reval-container
										.side-upp__container.reval.order__1
											span.reval__span Design Services
										.side-name__container.reval.order__2
											.container-title.reval__span A full spectrum of services for Design
										.side-body__container.reval.order__3
											.reval__span
												ul.category__list
													- var sectionSite = ["Magento Migration", "Customization", "Megento Upgrade", "Services", "Magento Support"]
													each sectionSiteItem in sectionSite
														li.category__list-item
															a(href="#").link-color.touch-down
																.hover-line
																span.touch-down-elem #{sectionSiteItem}
								.side-body__projects.reval.order__4
									.name-projects_container.swiper-projects.reval__span
										.slider-container
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = ["Magento", "Website", "E-commerce"]
														ul
															each tag in tags
																li.tag-item
																	a(href="#")
																		span #{tag}
													a(href="#").link-color 
														span IT Integrator Solcata
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = ["Magento", "Website", "E-commerce"]
														ul
															each tag in tags
																li.tag-item
																	a(href="#")
																		span #{tag}
													a(href="#").link-color 
														span IT Integrator Solcata
											.name-projects_item
												.name-inner
													.name-tags
														- var tags = ["Magento", "Website", "E-commerce"]
														ul
															each tag in tags
																li.tag-item
																	a(href="#")
																		span #{tag}
													a(href="#").link-color 
														span IT Integrator Solcata
					include partials/_menu
					//- include partials/_cross