---
title: Portfolio_Project_Page
---

extends layouts/_layout
block content
	- var currPage = 'Portfolio'
	- var external = '<svg width="23.5" height="23.5" viewBox="0 0 23.5 23.5" xmlns="http://www.w3.org/2000/svg"><g><path d="m21.78148,11.36297l0,8.3c0,1.5 -1.2,2.8 -2.8,2.8l-15.2,0c-1.5,0 -2.8,-1.2 -2.8,-2.8l0,-15.3c0,-1.5 1.2,-2.8 2.8,-2.8l8.3,0" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/><polyline points="16.481476068496704,0.9629654884338379 22.481476068496704,0.9629654884338379 22.481476068496704,6.962967872619629 " stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/><line y2="0.96297" x2="22.48148" y1="12.76297" x1="10.68148" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/></g></svg>'
	.root-wrapper
		.overlay
		.root-frame
			include partials/_burger
			#barba-wrapper
				.barba-container.portfolio_project(data-namespace="portfolio-project" data-bgcolor="#1cb4ed" data-textcolor="#1cb4ed" data-titlecolor="#1ba8dd" data-loader="#1cb4ed")
					header.header.header-inner
						include partials/_header
					.wrapper-frame
						.navigation__project
							.navigation__link
								a.link-color.crsor-trgr(href="portfolio-project-1.html" data-namespace="project-next" data-cursor-type='arrr')
									span Next
						.frame__container#scroll-container
							.frame__side.layout_fixed.overlay__color
								.page-title
									.breadcrumbs
										ul
											- var crumbs = ["Portfolio"]
											each crumbsItem in crumbs
												li.breadcumbs__item
													a(href="portfolio.html")
														i.back-icon
															<svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16"><path fill="currentcolor" fill-rule="evenodd" d="M.34271018 7.2426098a1.05032758 1.05032758 0 0 0-.00130226.0011405C-.074137 7.607537-.1162267 8.2393014.24747366 8.654922c.02989433.034162.06159971.0658003.09484724.0948971l6.99458721 7.0030276c.41543268.363915 1.04721881.3221517 1.41113382-.093281.36391501-.4154327.32215169-1.0472188-.09328099-1.4111338L2.41061142 7.9967476l6.24308946-6.2441862c.41562062-.3637004.45771031-.9954648.09400996-1.4110855-.36370035-.4156206-.99546483-.4577103-1.41108545-.0940099L.34271018 7.2426098z" opacity=".8"/></svg>
														span #{crumbsItem}
									.page__name
										span#name-project Dealer hall
								.frame__names.frame__inner.js-text
									.frame___names-list
										.frame__name
											.slide__element.title-color
												span Dealer Hall
							.frame__side
								.container.js-scroll-height
									section.promo
										.promo__layout
											.l
												.promo__image.load-parent
													img(src="img/projects/project-1.jpg", alt="")
									section.screen__content
										.l
											.head__title
												.title-small
													span What we offer
												.title
													h1 Разработка на 1С-Битрикс
											.info__container.l_p
												.info__description
													p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. With a team of top-level professionals, many of them being a&nbsp;“Fachanwalt für Gewerblichen Rechtsschutz” — German Certified IP Lawyer.
													a.site__link.link-color(href="#" target="_blank")
														span dealerhal.by
												.info
													.info__customer
														.customer__title Client
														.customer__name Dealer Hall
													.info__services
														.services__title What we did
														.services
															ul
																-var services = ["UI/UX", "Graphic design", "Responsive design"]
																each service in services
																	li #{service}
											.project-carousel
												.swiper-container
													.swiper-wrapper
														.swiper-slide
															.image-container
																.image-inner
																	img(src="img/gallery/gallery-1.jpg", alt="project-1")
														.swiper-slide
															.image-container
																.image-inner
																	img(src="img/projects/project-1.jpg", alt="project-1")
														.swiper-slide
															.image-container
																.image-inner
																	img(src="img/projects/project-1.jpg", alt="project-1")
													.swiper-pagination
													.swiper-button-next.crsor-trgr(data-cursor-type="arrr")
													.swiper-button-prev.crsor-trgr(data-cursor-type="arrl")
											.screen__section.l_p
												.screen__section-head
													h2.h2 Challenge
												.screen__section-content
													p The key goal of the upgrade was to ensure com&shy;plete integrity security of the company’s data&shy;customers, orders and products. Extra things to consider was theme and extensions compatibility.
											hr
											.screen__section.p
												.screen-section__text
													.screen-section__headline
														h3.h3 Following the best practices and experience, the team outlined 4&nbsp;main stages of the upgrade:
												mixin workService(image, title, description)
													.work__service-item
														if(image)
															.work__service-image
																img(src=image, alt="")
														.work__service-title #{title}
														.work__service-description!= description
												mixin workServicePDF(svg, title, subtitle, description)
													.work__service-item
														.work__service-pdf
															if(svg)
																.work__service-icon
																	i.icon!= svg
															.work__service-text
																if(title)
																	.work__service-title!= title
																if(subtitle)
																	.work__service-subtitle!= subtitle
																.work__service-description!= description
												.work__service-list
													+workService("", 
														"Moving the website to the test hosting server",
														"Website database and sources were duplicated and moved to the Mageworx test hosting server. This was done to avoid unnecessary downtime and any potential risks.")
													+workService("",
														"Store upgrade",
														"The team adjusted the store design theme, modu&shy;les, Magento core and the whole store database to the updated version. All found database and compatibility issues were fixed.")
													+workService("../img/icons/icon-testing.jpg",
														"Testing",
														"After the upgrade, the client and the team tested the updated version. It turned out that there was an issue with fees – they did not get updated if individual options changed.")
													+workService("../img/icons/icon-publication.jpg",
														"Site publication",
														"Website database and sources were duplicated and moved to the Mageworx test hosting server. This was done to avoid unnecessary downtime and any potential risks.")
													+workServicePDF('<svg width="48" height="56" viewBox="0 0 48 56" xmlns="http://www.w3.org/2000/svg"><g><path d="m46.34242,11.84939c0.6,0.6 1.1,1.4 1.5,2.4s0.6,1.9 0.6,2.8l0,36c0,0.8 -0.3,1.5 -0.9,2.1s-1.3,0.9 -2.1,0.9l-42,0c-0.8,0 -1.5,-0.3 -2.1,-0.9s-0.9,-1.3 -0.9,-2.1l0,-50c0,-0.8 0.3,-1.5 0.9,-2.1s1.3,-0.9 2.1,-0.9l28,0c0.8,0 1.8,0.2 2.8,0.6s1.8,0.9 2.4,1.5l9.7,9.7zm-13.9,-7.6l0,11.7l11.8,0c-0.2,-0.6 -0.4,-1 -0.7,-1.3l-9.8,-9.8c-0.3,-0.2 -0.7,-0.4 -1.3,-0.6zm12,47.7l0,-32l-13,0c-0.8,0 -1.5,-0.3 -2.1,-0.9s-0.9,-1.3 -0.9,-2.1l0,-13l-24,0l0,48l40,0zm-16.1,-18.5c0.7,0.5 1.6,1.1 2.6,1.8c1.2,-0.1 2.4,-0.2 3.7,-0.2c3.1,0 4.9,0.5 5.5,1.5c0.3,0.5 0.4,1 0.1,1.6c0,0 0,0 0,0.1l-0.1,0.1l0,0c-0.1,0.8 -0.9,1.2 -2.2,1.2c-1,0 -2.2,-0.2 -3.6,-0.6s-2.8,-1 -4.1,-1.7c-4.6,0.5 -8.7,1.4 -12.3,2.6c-3.2,5.5 -5.7,8.2 -7.6,8.2c-0.3,0 -0.6,-0.1 -0.9,-0.2l-0.8,-0.4c0,0 -0.1,-0.1 -0.2,-0.2c-0.2,-0.2 -0.3,-0.6 -0.2,-1.1c0.2,-0.8 0.8,-1.8 1.8,-2.9s2.4,-2.1 4.1,-3c0.3,-0.2 0.5,-0.1 0.7,0.2c0,0 0.1,0.1 0.1,0.1c1.1,-1.8 2.2,-3.8 3.3,-6.2c1.4,-2.8 2.5,-5.6 3.3,-8.2c-0.5,-1.7 -0.8,-3.4 -1,-5s-0.1,-2.9 0.2,-4c0.2,-0.8 0.7,-1.3 1.3,-1.3l0.7,0c0.5,0 0.8,0.2 1.1,0.5c0.4,0.4 0.5,1.1 0.3,2.1c0,0.1 -0.1,0.2 -0.1,0.3c0,0.1 0,0.1 0,0.3l0,0.9c0,2.6 -0.2,4.6 -0.4,6c1.3,3.4 2.8,5.9 4.7,7.5zm-18,12.8c1.1,-0.5 2.5,-2.1 4.3,-4.9c-1.1,0.8 -2,1.7 -2.7,2.6s-1.3,1.7 -1.6,2.3zm12.5,-28.7c-0.3,0.9 -0.3,2.3 -0.1,4.1c0,-0.1 0.1,-0.6 0.2,-1.4c0,-0.1 0.1,-0.5 0.2,-1.3c0,-0.1 0.1,-0.2 0.1,-0.3c0,0 0,0 0,-0.1s0,0 0,0s0,0 0,0c0,-0.5 -0.2,-0.8 -0.4,-1.1c0,0 0,0 0,0.1l0,0zm-3.9,20.6c2.8,-1.1 5.8,-2 8.9,-2.5c0,0 -0.2,-0.1 -0.4,-0.3s-0.4,-0.3 -0.5,-0.4c-1.6,-1.4 -2.9,-3.2 -4,-5.5c-0.6,1.8 -1.4,3.8 -2.6,6.2c-0.6,1.1 -1.1,2 -1.4,2.5zm20.2,-0.5c-0.5,-0.5 -2,-0.8 -4.4,-0.8c1.6,0.6 2.9,0.9 3.9,0.9c0.3,0 0.5,0 0.5,-0.1c0.1,0.1 0,0.1 0,0z"/></g></svg>',
														"", 
														"After the upgrade, the client and the team tested the updated version.",
														"It turned out that there was an issue with fees – they did not get updated if individ")
													+workServicePDF('<svg width="48" height="56" viewBox="0 0 48 56" xmlns="http://www.w3.org/2000/svg"><g><path d="m46.34242,11.84939c0.6,0.6 1.1,1.4 1.5,2.4s0.6,1.9 0.6,2.8l0,36c0,0.8 -0.3,1.5 -0.9,2.1s-1.3,0.9 -2.1,0.9l-42,0c-0.8,0 -1.5,-0.3 -2.1,-0.9s-0.9,-1.3 -0.9,-2.1l0,-50c0,-0.8 0.3,-1.5 0.9,-2.1s1.3,-0.9 2.1,-0.9l28,0c0.8,0 1.8,0.2 2.8,0.6s1.8,0.9 2.4,1.5l9.7,9.7zm-13.9,-7.6l0,11.7l11.8,0c-0.2,-0.6 -0.4,-1 -0.7,-1.3l-9.8,-9.8c-0.3,-0.2 -0.7,-0.4 -1.3,-0.6zm12,47.7l0,-32l-13,0c-0.8,0 -1.5,-0.3 -2.1,-0.9s-0.9,-1.3 -0.9,-2.1l0,-13l-24,0l0,48l40,0zm-16.1,-18.5c0.7,0.5 1.6,1.1 2.6,1.8c1.2,-0.1 2.4,-0.2 3.7,-0.2c3.1,0 4.9,0.5 5.5,1.5c0.3,0.5 0.4,1 0.1,1.6c0,0 0,0 0,0.1l-0.1,0.1l0,0c-0.1,0.8 -0.9,1.2 -2.2,1.2c-1,0 -2.2,-0.2 -3.6,-0.6s-2.8,-1 -4.1,-1.7c-4.6,0.5 -8.7,1.4 -12.3,2.6c-3.2,5.5 -5.7,8.2 -7.6,8.2c-0.3,0 -0.6,-0.1 -0.9,-0.2l-0.8,-0.4c0,0 -0.1,-0.1 -0.2,-0.2c-0.2,-0.2 -0.3,-0.6 -0.2,-1.1c0.2,-0.8 0.8,-1.8 1.8,-2.9s2.4,-2.1 4.1,-3c0.3,-0.2 0.5,-0.1 0.7,0.2c0,0 0.1,0.1 0.1,0.1c1.1,-1.8 2.2,-3.8 3.3,-6.2c1.4,-2.8 2.5,-5.6 3.3,-8.2c-0.5,-1.7 -0.8,-3.4 -1,-5s-0.1,-2.9 0.2,-4c0.2,-0.8 0.7,-1.3 1.3,-1.3l0.7,0c0.5,0 0.8,0.2 1.1,0.5c0.4,0.4 0.5,1.1 0.3,2.1c0,0.1 -0.1,0.2 -0.1,0.3c0,0.1 0,0.1 0,0.3l0,0.9c0,2.6 -0.2,4.6 -0.4,6c1.3,3.4 2.8,5.9 4.7,7.5zm-18,12.8c1.1,-0.5 2.5,-2.1 4.3,-4.9c-1.1,0.8 -2,1.7 -2.7,2.6s-1.3,1.7 -1.6,2.3zm12.5,-28.7c-0.3,0.9 -0.3,2.3 -0.1,4.1c0,-0.1 0.1,-0.6 0.2,-1.4c0,-0.1 0.1,-0.5 0.2,-1.3c0,-0.1 0.1,-0.2 0.1,-0.3c0,0 0,0 0,-0.1s0,0 0,0s0,0 0,0c0,-0.5 -0.2,-0.8 -0.4,-1.1c0,0 0,0 0,0.1l0,0zm-3.9,20.6c2.8,-1.1 5.8,-2 8.9,-2.5c0,0 -0.2,-0.1 -0.4,-0.3s-0.4,-0.3 -0.5,-0.4c-1.6,-1.4 -2.9,-3.2 -4,-5.5c-0.6,1.8 -1.4,3.8 -2.6,6.2c-0.6,1.1 -1.1,2 -1.4,2.5zm20.2,-0.5c-0.5,-0.5 -2,-0.8 -4.4,-0.8c1.6,0.6 2.9,0.9 3.9,0.9c0.3,0 0.5,0 0.5,-0.1c0.1,0.1 0,0.1 0,0z"/></g></svg>',
														'<a class="link-color" href="#"><span>Store upgrade</span></a>', 
														'',
														'Website database and sources were duplicated and <a href="#" class="link-color"><span>moved to the Mageworx</span></a> test hosting server.')
												.screen-section__picture
													.picture__title Home page
													.picture__image
														img(src="img/pictures/picture.jpg", alt="")
													.picture__caption After the upgrade, the client and the team tested the updated version
											hr
											.screen__section.l_p
												.screen__section-head
													h2.h2 Result
												.screen__section-content
													p The website is successfully running the latest version of Magento 1 with all its bells, whistles and security patches. The client is satisfied with the speed and functionality improvements of the store.
											.screen__section.l_p
												.review__container
													.review__line.color-bg
													.review__text The team from Mageworx is our reliable partner for develop&shy;ment and maintenance of Magento installations and individual extensions. They are very competent, always responsive to our needs, friendly and have reasonable service fees. Mageworx is definitely a clear recommendation for everyone who seeks a trustworthy Magento development partner.
													.review__author
														.author__name Jens Liesegang
														.author__position Managing Partner at Liesegang&Partner
											hr
											.screen__section
												.case__container
													.case__item.inversion
														.case__item-picture
															img(src="img/pictures/picture-2.jpg", alt="")
														.case__item-text
															.case__title 
																h3 The team
															.case__text
																p The website is successfully run&shy;ning the latest version of Magento 1 with all its bells, whistles and se&shy;curity patches. The client is satis&shy;fied with the speed and function&shy;ality improvements of the store.
													.case__item
														.case__item-picture
															img(src="img/pictures/picture-3.jpg", alt="")
														.case__item-text
															.case__title 
																h3 Not the team
															.case__text
																p The website is successfully run&shy;ning the latest version of Magento 1 with all its bells, whistles and se&shy;curity patches. The client is satis&shy;fied with the speed and function&shy;ality improvements of the store.
											hr
											.screen__section.p
												.about__container
													.about__title 
														h2 About Staylime
													.about__subtitle To summarize, while “If it ain’t broke don’t fix it” approach can be a wise choice in some cases, upgrading to a newer version of Magento will defi&shy;nitely bring your store one step closer to perfection.
													p At MageWorx, we stick to the point that upgrading to a newer version of Magento is not about 
														a.link-color(href="#") 
															span having the latest
														| version number. It is about improved security, enhanced functionality and stability along with the support of 3rd party software vital for the store’s functionality of Magento:
													ol.numeric
														-var content = ['Magento 1 with all its bells of 3rd party software vital for of 3rd party software vital for;','Magento is not about having the latest version;', 'Support of 3rd party software vital.']
														each text in content
															li #{text}
											hr
											.screen__section.p
												.screen__section-head
													h3.h3 Best practies
												.screen__section-text
													p MageWorx, we stick to the point that upgrading to a newer version of Magento is not about version number. It is about improved security, enhanced functionality and stability along with the support of 3rd party.
												.counter__rate.mr_
													.counter__rate-container
														- var rates = [{ "name":"Specialists", "num": "10" }, { "name":"Total", "num": "59" }, { "name":"Projects", "num": "107" }, { "name":"Years in profession", "num": "9107" }]
														each rate in rates
															.rate__item
																.rate__head!= rate.name
																.rate__counter(data-rate=rate.num)!= rate.num
											hr
											.screen__section
												.view__pages
													.view__pages-contaner
														.view__pages-text
															.text-head
																h3.h3 Not the team
															.text
																p The website is successfully run&shy;ning the latest version of Magento 1 with all its bells, whistles and se&shy;curity patches. The client is satis&shy;fied with the speed and function&shy;ality improvements of the store.
														.view__pages-scroller
															.scroller__container
																.scroll.grab-container.dragscroll
																	img(src="img/scroll-image.jpg", alt="")
									section.resent__container
										.recent__bg
											img(src="img/recent-bg.jpg", alt="")
										.l
											.screen__section
												.screen__section-head
													h2.h2 Recent projects
												.resent__navigation
													.arrow__container
														.arrows.arrow__left
															i.icon
																<svg width="15.6" height="26" viewBox="0 0 15.6 26" xmlns="http://www.w3.org/2000/svg"><g><polygon points="15.6,1.6 13.9,0 0,13 13.9,26 15.6,24.4 3.4,13"/></g></svg>
														.arrows.arrow__right
															i.icon
																<svg width="15.6" height="26" viewBox="0 0 15.6 26" xmlns="http://www.w3.org/2000/svg"><g><polygon points="0,1.7 1.7,0.1 15.6,13.1 1.7,26.1 0,24.5 12.2,13.1"/></g></svg>
											.grid__carousel.recent-carousel
												.swiper-wrapper.grid__container#grid__container(data-resentUrl='../../json/recent.json')
									section.section__request.request__fixed
										.screen__content
											.l
												.form__request
													.form__request-front
														.screen__section.l_p
															.screen__section-head
																h2.h2 Let’s rock
															.screen__section-content
																p Send us a message or go to 
																	a.link-color(href="#") 
																		span contacts
																	|  to call
														.form__container
															include partials/_footerForm
													.form__request-back
														.screen__section.l_p
															.screen__section-head
																h2.h2 Message sent
															.screen__section-content
																p Thx, we’ll answer you from 10–18:00 o’clock.
																p Now you can go to 
																	a.link-color(href="#") 
																		span homepage
																	|.
					include partials/_menu
					include partials/_cross