---
title: Portfolio_Page
---

extends layouts/_layout
block content
	- var currPage = 'Services'
	.root-wrapper
		.overlay
		.root-frame
			include partials/_burger
			#barba-wrapper
				.barba-container(data-namespace="services" data-bgcolor="#cdfc91" data-textcolor="#92bd5c" data-titlecolor="#c1ed89" data-loader="#cdfc91")
					header.header.header-inner
						include partials/_header
					.wrapper-frame
						.portfolio__overlay.overlay__color
						.frame__names
							.frame___names-list#project__names
						.frame__container#scroll-container
							.frame__side.layout_fixed
								.filter-container
									- var filters = ["Development", "Design", "Marketing"]
										each filterItem in filters
											.filter-item
												a(href='#'+filterItem,data-href=filterItem).js-scroll-to.no-barba
													span #{filterItem}
								.page-title
									.breadcrumbs
										ul
											- var crumbs = ["Home"]
											each crumbsItem in crumbs
												li.breadcumbs__item
													a(href="home.html")
														i.back-icon
															<svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16"><path fill="currentcolor" fill-rule="evenodd" d="M.34271018 7.2426098a1.05032758 1.05032758 0 0 0-.00130226.0011405C-.074137 7.607537-.1162267 8.2393014.24747366 8.654922c.02989433.034162.06159971.0658003.09484724.0948971l6.99458721 7.0030276c.41543268.363915 1.04721881.3221517 1.41113382-.093281.36391501-.4154327.32215169-1.0472188-.09328099-1.4111338L2.41061142 7.9967476l6.24308946-6.2441862c.41562062-.3637004.45771031-.9954648.09400996-1.4110855-.36370035-.4156206-.99546483-.4577103-1.41108545-.0940099L.34271018 7.2426098z" opacity=".8"/></svg>
														span #{crumbsItem}
									.page__name
										span#name-project #{currPage}
								
							.frame__side
								.portfolio__projects
									.projects-head
										.head__title
											.title-small
												span What we offer
											.title
												h1 Services
									.portfolio__body.service-body
										.grid__container
											.grid__item.w__100.load-parent(data-id='Development')
												.service-block(style='background-color: #0A253A;')
													.service-block-bg.js-image.bg(data-src='img/grafics/grafics-3.jpg')
													.service-block-main
														.service-block-head
															.h2 Development
														.service-block-content
															.info__container 
																.info__description
																	p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. 
															ul.category__list
																- var sectionSite = [["portfolio.html", "Bitrix development"], ["portfolio.html","Bitrix e-commerce"], ["portfolio.html", "Magento development"]]
																each sectionSiteItem in sectionSite
																	li.category__list-item
																		a(href=sectionSiteItem[0]).link-color.touch-down
																			.hover-line
																			span.touch-down-elem #{sectionSiteItem[1]}
											.grid__item.w__100.load-parent(data-id='Design')
												.service-block(style='background-color:#0e6bb6;')
													.service-block-bg.js-image.bg(data-src='img/grafics/grafics-3.jpg')
													.service-block-main
														.service-block-head
															.h2 Design
														.service-block-content
															.info__container 
																.info__description
																	p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. 
															ul.category__list
																- var sectionSite = [["portfolio.html", "Bitrix development"], ["portfolio.html","Bitrix e-commerce"], ["portfolio.html", "Magento development"]]
																each sectionSiteItem in sectionSite
																	li.category__list-item
																		a(href=sectionSiteItem[0] class='link-color').touch-down
																			.hover-line
																			span.touch-down-elem #{sectionSiteItem[1]}
											.grid__item.w__100.load-parent(data-id='Marketing')
												a(href="#").service-block(style='background-color: #26b889;')
													.service-block-bg.js-image.bg(data-src='img/grafics/grafics-3.jpg')
													.service-block-main
														.service-block-head
															.h2 FMCG
														.service-block-content
															.info__container 
																.info__description
																	p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. 

											
					include partials/_menu
					