---
title: Portfolio_Page
---

extends layouts/_layout
block content
	- var currPage = 'Services'
	//- - var external = '<svg width="23.5" height="23.5" viewBox="0 0 23.5 23.5" xmlns="http://www.w3.org/2000/svg"><g><path d="m21.78148,11.36297l0,8.3c0,1.5 -1.2,2.8 -2.8,2.8l-15.2,0c-1.5,0 -2.8,-1.2 -2.8,-2.8l0,-15.3c0,-1.5 1.2,-2.8 2.8,-2.8l8.3,0" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/><polyline points="16.481476068496704,0.9629654884338379 22.481476068496704,0.9629654884338379 22.481476068496704,6.962967872619629 " stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/><line y2="0.96297" x2="22.48148" y1="12.76297" x1="10.68148" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/></g></svg>'
	.root-wrapper
		.overlay
		.root-frame
			include partials/_burger
			#barba-wrapper
				.barba-container(data-namespace="services" data-bgcolor="#cdfc91" data-textcolor="#c1ed89" data-titlecolor="#c1ed89" data-loader="#cdfc91")
					header.header.header-inner
						include partials/_header
					.wrapper-frame
						.portfolio__overlay.overlay__color
						.frame__names
							.frame___names-list#project__names
						.frame__container#scroll-container
							.frame__side.layout_fixed
								.filter-container
									- var filters = ["Development", "Design", "Marketing"]
										each filterItem in filters
											.filter-item
												a(href="#")
													span #{filterItem}
								.page-title
									.breadcrumbs
										ul
											- var crumbs = ["Home"]
											each crumbsItem in crumbs
												li.breadcumbs__item
													a(href="page.html")
														span #{crumbsItem}
									.page__name
										span#name-project #{currPage}
								
							.frame__side
								.portfolio__projects
									.projects-head
										.head__title
											.title-small
												span What we offer
											.title
												h1 Services
									.portfolio__body.service-body
										.grid__container
											.grid__item.w__100.load-parent
												.service-block(style='background-color: #0A253A;')
													.service-block-bg.js-image.bg(data-src='img/grafics/grafics-3.jpg')
													.service-block-main
														.service-block-head
															.h2 Development
														.service-block-content
															.info__container 
																.info__description
																	p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. 
															ul.category__list
																- var sectionSite = [["portfolio.html", "Bitrix development"], ["portfolio.html","Bitrix e-commerce"], ["portfolio.html", "Magento development"]]
																each sectionSiteItem in sectionSite
																	li.category__list-item
																		a(href=sectionSiteItem[0]).link-color
																			.hover-line
																			span #{sectionSiteItem[1]}
											.grid__item.w__100.load-parent
												.service-block(style='background-color:#0e6bb6;')
													.service-block-bg.js-image.bg(data-src='img/grafics/grafics-3.jpg')
													.service-block-main
														.service-block-head
															.h2 Design
														.service-block-content
															.info__container 
																.info__description
																	p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. 
															ul.category__list
																- var sectionSite = [["portfolio.html", "Bitrix development"], ["portfolio.html","Bitrix e-commerce"], ["portfolio.html", "Magento development"]]
																each sectionSiteItem in sectionSite
																	li.category__list-item
																		a(href=sectionSiteItem[0] class='link-color')
																			.hover-line
																			span #{sectionSiteItem[1]}
											.grid__item.w__100.load-parent
												a(href="#").service-block(style='background-color: #26b889;')
													.service-block-bg.js-image.bg(data-src='img/grafics/grafics-3.jpg')
													.service-block-main
														.service-block-head
															.h2 FMCG
														.service-block-content
															.info__container 
																.info__description
																	p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. 

											
					include partials/_menu
					include partials/_cross
					